<%- include("partials/header"); %>
<main>

<div class="slider-area">
<div class="slider-height2 slider-bg4 hero-overly d-flex align-items-center">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-5 col-lg-6 col-md-6">
<div class="hero-caption hero-caption2">
<h2>About Us</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="support-company-area section-padding">
<div class="container">
<div class="row align-items-center justify-content-between">
<!-- <div class="col-xl-6 col-lg-6 col-md-10">
<div class="support-location-img">
<img src="assets/img/gallery/about.jpg" alt>
</div>
</div> -->
<div class="col-lg-12 col-md-10">
<div class="right-caption">

<div class="section-tittle text-center">
<h2>Our Mission and Vision</h2>
</div>
<div class="support-caption text-center">
<h4 class="mb-10">Our Mission</h4>
<p class="pera-top">
At Leh We Build Salone, our mission is to support the digital transformation of Sierra Leone through innovative engineering and surveying solutions. We are committed to providing accurate, reliable, and data-driven services that empower local communities, businesses, and the government to make informed decisions about land use, infrastructure, and sustainable development.</p>
</div>
<div class="support-caption text-center">
<h4 class="mb-10">Our Vision</h4>
<p class="pera-top">We envision a digitally advanced Sierra Leone where geospatial data and engineering expertise drive economic growth, sustainability, and national progress. Our goal is to be the leading institution in the country, pioneering technological innovation in surveying, land management, and building life-cycle assessments.</p>
</div>
</div>
</div>
</div>
</div>
</div>


<!-- <div class="count-down-area pt-25 section-img-bg2" data-background="assets/img/gallery/section-bg1.jpg">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-12 col-md-12">
<div class="count-down-wrapper">
<div class="row justify-content-between">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon1.svg" alt>
</div>
<div class="captions">
<span class="counter">35</span>
<span class="plus">+</span>
<p class="color-green">Active Cases</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon2.svg" alt>
</div>
<div class="captions">
<span class="counter">12</span>
<span class="plus">m</span>
<p class="color-green">People Joined</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon3.svg" alt>
</div>
<div class="captions">
<span class="counter">200</span>
<span class="plus">m</span>
<p class="color-green">Cases every Year</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon4.svg" alt>
</div>
<div class="captions">
<span class="counter">1200</span>
<p class="color-green">People get help from us</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div> -->

<div class="section-padding">
<div class="container">
<div class="row align-items-center justify-content-between">
<!-- <div class="col-xl-6 col-lg-6 col-md-10">
<div class="support-location-img">
<img src="assets/img/gallery/about.jpg" alt>
</div>
</div> -->
<div class="col-lg-12 col-md-10">
<div class="right-caption">

<div class="section-tittle">
<h2 class="text-center">Who we are?</h2> 
</div>
<div class="support-caption">
<p class="mb-10">"Pioneering Sierra Leone's Digital Transformation"</p>
<p class="pera-top">Founded in Sierra Leone, Leh We Build Salone was established to address the growing need for precise, high-quality land surveying and engineering services in the region. Our expertise spans across geospatial, geodetic, isographic, and aerial surveys, providing essential data for infrastructure projects, land development, and building sustainability.</p>

<p class="pera-top">
    With a team of dedicated professionals, we leverage modern technologies such as drones, GIS mapping, and advanced surveying instruments to ensure that our clients receive the best insights and solutions. We work closely with both public and private sectors to contribute to Sierra Leone's growth through innovative digital practices and strategic land management.
</p>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- OUR HISTORY -->
<div class="support-company-area section-padding">
<div class="container">
<div class="row align-items-center justify-content-between">
<!-- <div class="col-xl-6 col-lg-6 col-md-10">
<div class="support-location-img">
<img src="assets/img/gallery/about.jpg" alt>
</div>
</div> -->
<div class="col-lg-12 col-md-10">
<div class="right-caption">

<div class="section-tittle">
<h2 class="text-center">Our History</h2> 
</div>
<div class="support-caption">
<p class="pera-top">Leh We Build Salone was born out of a desire to bring advanced surveying and engineering practices to Sierra Leone. Recognizing the need for modernization in land management and development, we established our institution to bridge the gap between traditional practices and digital innovation.</p>

<p class="pera-top">
    Since our inception, we have partnered with government bodies, international organizations, and local developers to deliver precision surveying and assessment services. Over the years, we have expanded our services to include cutting-edge technology, such as drone-based aerial surveys and software development for land strategy management, positioning ourselves as a key player in Sierra Leone’s transformation.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- END OF OUR HISTORY -->

<!-- OUR VALUES -->
<div class="section-padding">
<div class="container">
<div class="row align-items-center justify-content-between">
<!-- <div class="col-xl-6 col-lg-6 col-md-10">
<div class="support-location-img">
<img src="assets/img/gallery/about.jpg" alt>
</div>
</div> -->
<div class="col-lg-12 col-md-10">
<div class="right-caption">

<div class="section-tittle">
<h2 class="text-center">Our Values</h2> 
</div>
<div class="support-caption">
<ul class="pera-top">
    <li><strong>Integrity:</strong> We hold ourselves to the highest standards of ethics and transparency, ensuring trust with our clients and partners.</li><br>
    <li><strong>Innovation:</strong> We embrace the latest technologies and methodologies to deliver forward-thinking solutions that meet the evolving needs of Sierra Leone.</li><br>
    <li><strong>Sustainability:</strong> We prioritize environmental sustainability, ensuring that our projects contribute to the long-term health and prosperity of the land and people.</li> <br>
    <li><strong>Community Focus:</strong> Our work is rooted in a deep commitment to supporting the development of local communities through infrastructure and economic growth.</li> <br>
    <li><strong>Excellence:</strong> We strive for excellence in every project, delivering precise, reliable, and timely results.</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- END OF OUR VALUES -->
<br>
<!-- Our Team Area -->
<div class="support-company-area our-team-area section-ptb">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-two">
                    <h3>MEET OUR TEAM</h3>
                    <p>
                        Our team is made up of experienced engineers, surveyors, and digital specialists with a deep understanding of the local landscape and global best practices. Together, we bring a diverse set of skills and expertise to every project we undertake, ensuring that our clients benefit from top-quality service and insights.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3">
                <div class="single-team mt--30">
                    <div class="single-team-image">
                        <img src="assets/images/team/team-01.jpg" alt="">
                    </div>
                    <div class="single-team-info">
                        <h5>Arthur Lopez</h5>
                        <p>Designer</p>
                    </div>
                    <ul class="personsl-socail">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="single-team mt--30">
                    <div class="single-team-image">
                        <img src="assets/images/team/team-02.jpg" alt="">
                    </div>
                    <div class="single-team-info">
                        <h5>Arthur Lopez</h5>
                        <p>Designer</p>
                    </div>
                    <ul class="personsl-socail">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="single-team mt--30">
                    <div class="single-team-image">
                        <img src="assets/images/team/team-03.jpg" alt="">
                    </div>
                    <div class="single-team-info">
                        <h5>Robert Stewart</h5>
                        <p>Developer</p>
                    </div>
                    <ul class="personsl-socail">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-team mt--30">
                    <div class="single-team-image">
                        <img src="assets/images/team/team-04.jpg" alt="">
                    </div>
                    <div class="single-team-info">
                        <h5>Developer</h5>
                        <p>Mark Howard</p>
                    </div>
                    <ul class="personsl-socail">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--// Our Team Area -->

<!-- OUR HISTORY -->
<div class="section-padding">
<div class="container">
<div class="row align-items-center justify-content-between">
<!-- <div class="col-xl-6 col-lg-6 col-md-10">
<div class="support-location-img">
<img src="assets/img/gallery/about.jpg" alt>
</div>
</div> -->
<div class="col-lg-12 col-md-10">
<div class="right-caption">

<div class="section-tittle">
<h2 class="text-center">Why Choose Us?</h2> 
</div>
<div class="support-caption">
<p class="pera-top">When you choose Leh We Build Salone, you are partnering with a team that is dedicated to the success of your project and the progress of Sierra Leone. Our unique combination of local expertise and global technology solutions ensures that every project is completed with precision, reliability, and a commitment to sustainability.</p>

<p class="pera-top">
    We pride ourselves on being leaders in digital transformation within the surveying and engineering fields, contributing to Sierra Leone's economic growth and environmental health.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- END OF OUR HISTORY -->

<div class="join-us-area section-padding">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-4 col-lg-6 col-md-10">
<div class="joing-details">
<div class="section-tittle">
<h2>Call To Action</h2>
</div>
<p>Are you ready to work with a team that is passionate about building a brighter future for Sierra Leone? Contact us today to learn more about our services and how we can assist with your next project.</p>
<a href="/contact" class="btn about-btn">Contact Us Today</a>
</div>
</div>
<div class="offset-xl-1 col-xl-4 col-lg-4 col-md-7 col-sm-7">
<div class="joning-img">
<img src="assets/img/gallery/joining1.jpg" alt class="w-100">
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-5">
<div class="joning-img">
<img src="assets/img/gallery/joining2.jpg" alt class="w-100">
</div>
</div>
</div>
</div>
</div>

</main>
<%- include("partials/footer"); %>