<%- include("partials/header"); %>
<main>

<div class="slider-area position-relative">
<div class="slider-active dot-style">

<div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xxl-6 col-xl-7 col-lg-7 col-md-8 col-sm-10">
<div class="hero-caption">
<h1 data-animation="fadeInUp" data-delay=".2s">Precision Land Surveying for Every Project</h1>
<P data-animation="fadeInUp" data-delay=".4s">Accurate measurements and data you can trust for smooth land development and planning</P>
<a href="/services" class="btn hero-btn" data-animation="fadeInUp" data-delay=".8s">Our Services</a>
</div>
</div>
</div>
</div>
</div>

<div class="single-slider hero-overly01  slider-height slider-bg2 d-flex align-items-center">
<div class="container">
<div class="row justify-content-end">
<div class="col-xxl-6 col-xl-7 col-lg-7 col-md-8 col-sm-10">
<div class="hero-caption">
<h1 data-animation="fadeInUp" data-delay=".2s">Expert Sueveying, On Time and on Budget</h1>
<P data-animation="fadeInUp" data-delay=".4s">Reliable surveying solutions tailored to meet your deadlines and project goals</P>
<a href="/services" class="btn hero-btn" data-animation="fadeInUp" data-delay=".8s">Our Services</a>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="single-slider hero-overly slider-height slider-bg3 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-8 col-sm-10">
        <div class="hero-caption">
          <h1 data-animation="fadeInUp" data-delay=".2s">Support a causes you care about</h1>
          <P data-animation="fadeInUp" data-delay=".4s">Sedac odio aliquet, fringilla odio eget, tincidunt nunc. Duis aliquet
          pulvinar ante tempor etiam lacus eros</P>
          <a href="#" class="btn hero-btn" data-animation="fadeInUp" data-delay=".8s">Active Cases</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
</div>


<!-- <div class="services-area1 section-padding">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8 col-md-10 col-sm-11">

<div class="section-tittle text-center mb-60">
<h2>Who We Are</h2>
<h3>Pioneering Sierra Leone's Digital Transformation</h3>
</div>
</div>
</div>
<div class="services1-active">
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/gallery/services-img1.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar1" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Help the ecosystems</a></h3>
<p>Sedac odio aliquet, fringilla odio eget, tincidunt nunc duis aliquet pulvinar ante.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Donate</a>
</div>
<div class="class-day">
<span class="color-font2">$67,845</span>
<p>Goal</p>
</div>
<div class="class-day">
<span class="color-font1">$48,845</span>
<p>Raised</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/gallery/services-img2.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar2" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Sponsor a child</a></h3>
<p>Sedac odio aliquet, fringilla odio eget, tincidunt nunc duis aliquet pulvinar ante.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Donate</a>
</div>
<div class="class-day">
<span class="color-font2">$67,845</span>
<p>Goal</p>
</div>
<div class="class-day">
<span class="color-font1">$48,845</span>
<p>Raised</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/gallery/services-img3.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar3" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Help senior citizens</a></h3>
<p>Sedac odio aliquet, fringilla odio eget, tincidunt nunc duis aliquet pulvinar ante.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Donate</a>
</div>
<div class="class-day">
<span class="color-font2">$67,845</span>
<p>Goal</p>
</div>
<div class="class-day">
<span class="color-font1">$48,845</span>
<p>Raised</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/gallery/services-img2.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar4" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Help the ecosystems</a></h3>
<p>Sedac odio aliquet, fringilla odio eget, tincidunt nunc duis aliquet pulvinar ante.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Donate</a>
</div>
<div class="class-day">
<span class="color-font2">$67,845</span>
<p>Goal</p>
</div>
<div class="class-day">
<span class="color-font1">$48,845</span>
<p>Raised</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div> -->


<div class="support-company-area section-padding">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-xl-6 col-lg-6 col-md-10">
<div class="support-location-img">
<img src="assets/img/gallery/about.jpg" alt>
</div>
</div>
<div class="col-xl-5 col-lg-6 col-md-10">
<div class="right-caption">

<div class="section-tittle">
<h2>Who we are?</h2> 
</div>
<div class="support-caption">
<p class="mb-10">"Pioneering Sierra Leone's Digital Transformation"</p>
<p class="pera-top">Leh We Build Salone is an engineering and surveyor institution dedicated to driving digital innovation in Sierra Leone. Our team specializes in geospatial and geodetic surveys, land management, aerial mapping, and building life-cycle assessments. With our cutting-edge technology and commitment to precision, we provide accurate data and insights that empower government bodies, businesses, and communities to make informed decisions and build a sustainable future.</p>
<a href="/about" class="btn about-btn">Learn More</a>
</div>
</div>
</div>
</div>
</div>
</div>


<!-- <div class="count-down-area pt-25 section-img-bg2" data-background="assets/img/gallery/section-bg1.jpg">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-12 col-md-12">
<div class="count-down-wrapper">
<div class="row justify-content-between">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon1.svg" alt>
</div>
<div class="captions">
<span class="counter">35</span>
<span class="plus">+</span>
<p class="color-green">Active Cases</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon2.svg" alt>
</div>
<div class="captions">
<span class="counter">12</span>
<span class="plus">m</span>
<p class="color-green">People Joined</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon3.svg" alt>
</div>
<div class="captions">
<span class="counter">200</span>
<span class="plus">m</span>
<p class="color-green">Cases every Year</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-counter d-flex align-items-center">
<div class="counter-img">
<img src="assets/img/icon/count-icon4.svg" alt>
</div>
<div class="captions">
<span class="counter">1200</span>
<p class="color-green">People get help from us</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div> -->


<div class="our-services section-padding position-relative">
<div class="container">
<div class="row justify-content-sm-center">
<div class="col-xl-7 col-lg-8 col-md-11">

<div class="section-tittle text-center mb-70">
<h2>Our Services</h2>
<p>"Comprehensive Surveying and Engineering Services"</p>
</div>
</div>
</div>
<div class="row justify-content-between">
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
<div class="single-services text-center mb-30">
<div class="services-icon">
<img src="assets/img/icon/services1.svg" alt>
</div>
<div class="services-cap">
<h5><a href="#">Geospatial Surveying</a></h5>
<p>From land planning to infrastructure development, we deliver high-precision geospatial data using advanced surveying techniques.</p>
</div>
</div>
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
<div class="single-services text-center mb-30">
<div class="services-icon">
<img src="assets/img/icon/services2.svg" alt>
</div>
<div class="services-cap">
<h5><a href="#">Land Management & Strategy</a></h5>
<p>We help manage land assets and implement digital strategies that streamline land registration, usage, and policy-making.</p>
</div>
</div>
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
<div class="single-services text-center mb-30">
<div class="services-icon">
<img src="assets/img/icon/services1.svg" alt>
</div>
<div class="services-cap">
<h5><a href="#">Building Life-Cycle Assessment</a></h5>
<p>Our assessments ensure that projects are sustainable, cost-efficient, and compliant with regulations from inception to demolition.</p>
</div>
</div>
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
<div class="single-services text-center mb-30">
<div class="services-icon">
<img src="assets/img/icon/services1.svg" alt>
</div>
<div class="services-cap">
<h5><a href="#">Aerial Surveying</a></h5>
<p>Leveraging drones and aerial technology, we capture extensive land data quickly, accurately, and efficiently.</p>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="emargency-care section-img-bg2" data-background="assets/img/gallery/section-bg2.jpg">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="single-emargency">
<div class="emargency-cap">
<h5><a href="#">Why Choose Us:</a></h5>
<ul>
  <li><strong>Expertise:</strong> Our team is composed of highly skilled engineers and surveyors with extensive experience in Sierra Leone's landscape.</li><br>
  <li><strong>Innovation:</strong> We embrace digital tools and modern technology to deliver reliable, cutting-edge solutions.</li><br>
  <li><strong>Local Impact:</strong> We are dedicated to contributing to Sierra Leone's growth and development through strategic partnerships and sustainable practices.</li><br>
  <li><strong>Accuracy and Reliability:</strong> Our state-of-the-art equipment ensures precision and reliability in every project we undertake.</li>
</ul>
<a href="/about" class="btn loan-btn">Learn More</a>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- PROJECTS -->
<div class="services-area1 section-padding">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8 col-md-10 col-sm-11">

<div class="section-tittle text-center mb-60">
<h2>Recent Projects (Our Impact):</h2>
<h3>Driving Change Through Innovation</h3>
</div>
</div>
</div>
<div class="services1-active">
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/hero/h1_hero1.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar1" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Survey</a></h3>
<p>Successfully completed a geospatial survey for a major urban planning project in Freetown, ensuring accurate land use data for sustainable city development.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/hero/h1_hero1.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar2" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Aerial Survey</a></h3>
<p>Our aerial survey solutions helped the government assess agricultural land for new development initiatives across rural areas, supporting food security programs.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/hero/h1_hero1.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar3" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Life-Cycle Assessments</a></h3>
<p>Partnered with local construction firms to provide comprehensive building life-cycle assessments, ensuring green building certifications and compliance with international standards.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</div>
</div>

<!-- END OF PROJECTS -->

<!-- TESTIMONIALS SECTION -->
<!-- Testimonials Area -->
<div class="testimonials-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section-title -->
                <div class="section-title-two">
                    <h4>Testimonials</h4>
                    <h3>What Our Clients Say</h3>
                </div><!--// section-title -->
            </div>
        </div>

        <div class="row">
            <div class="testimonial-active owl-carousel">
                <div class="col-lg-8 m-auto">
                    <!-- testimonial-wrap -->
                    <div class="testimonial-wrap text-center">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-2.png" alt="">
                        </div>
                        <div class="testimonial-info">
                            <div class="autor-info">
                                <h4>Steven Walsh</h4>
                                <h6>DESIGNER</h6>
                            </div>
                            <p> If you are going to use a passage of Lorem Ipsum, you need to be
                                sure there isn't anything embarrassing hidden in the middle of text. All  Lorem
                                Ipsum gators on the Internet tend to repeat</p>
                        </div>
                    </div><!--// testimonial-wrap -->
                </div>
                <div class="col-lg-8 m-auto">
                    <!-- testimonial-wrap -->
                    <div class="testimonial-wrap text-center">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-2.png" alt="">
                        </div>
                        <div class="testimonial-info">
                            <div class="autor-info">
                                <h4>Steven Walsh</h4>
                                <h6>DESIGNER</h6>
                            </div>
                            <p> If you are going to use a passage of Lorem Ipsum, you need to be
                                sure there isn't anything embarrassing hidden in the middle of text. All  Lorem
                                Ipsum gators on the Internet tend to repeat</p>
                        </div>
                    </div><!--// testimonial-wrap -->
                </div>
                <div class="col-lg-8 m-auto">
                    <!-- testimonial-wrap -->
                    <div class="testimonial-wrap text-center">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-1.png" alt="">
                        </div>
                        <div class="testimonial-info">
                            <div class="autor-info">
                                <h4>Steven Walsh</h4>
                                <h6>DESIGNER</h6>
                            </div>
                            <p> If you are going to use a passage of Lorem Ipsum, you need to be
                                sure there isn't anything embarrassing hidden in the middle of text. All  Lorem
                                Ipsum gators on the Internet tend to repeat</p>
                        </div>
                    </div><!--// testimonial-wrap -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Testimonials Area -->
<!-- END OF TESTIMONIALS SECTION -->


<!-- <div class="join-us-area section-padding">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-4 col-lg-5 col-md-10">
<div class="joing-details">
<div class="section-tittle">
<h2>Join with Us</h2>
</div>
<p>The legal definition of a charitable organization (and of charity) varies between countries and in some instances regions of the country. The regulation, the tax treatment, and the way.</p>
<a href="about.html" class="btn about-btn">Join Now</a>
</div>
</div>
<div class="offset-xl-1 col-xl-4 col-lg-4 col-md-7 col-sm-7">
<div class="joning-img">
<img src="assets/img/gallery/joining1.jpg" alt class="w-100">
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-5">
<div class="joning-img">
<img src="assets/img/gallery/joining2.jpg" alt class="w-100">
</div>
</div>
</div>
</div>
</div> -->

</main>
<%- include("partials/footer"); %>