<%- include("partials/header"); %>
<main>

<div class="slider-area">
<div class="slider-height2 slider-bg4 hero-overly d-flex align-items-center">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-5 col-lg-6 col-md-6">
<div class="hero-caption hero-caption2">
<h2>Our Services</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<!-- PROJECTS -->
<div class="services-area1 section-padding">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8 col-md-10 col-sm-11">

<div class="section-tittle text-center mb-60">
</div>
</div>
</div>
<div class="services1-active">
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/hero/h1_hero1.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar1" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Survey</a></h3>
<p>Successfully completed a geospatial survey for a major urban planning project in Freetown, ensuring accurate land use data for sustainable city development.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/hero/h1_hero1.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar2" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Aerial Survey</a></h3>
<p>Our aerial survey solutions helped the government assess agricultural land for new development initiatives across rural areas, supporting food security programs.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">

<div class="properties pb-30">
<div class="properties-card">
<div class="properties-img">
<a href="#"><img src="assets/img/hero/h1_hero1.jpg" alt></a>

<div class="single-skill">
<div class="bar-progress">
<div id="bar3" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="65"></span>
</div>
</div>
</div>

</div>
<div class="wrap-wrapper">
<div class="properties-caption">
<h3><a href="#">Life-Cycle Assessments</a></h3>
<p>Partnered with local construction firms to provide comprehensive building life-cycle assessments, ensuring green building certifications and compliance with international standards.</p>
</div>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="class-day">
<a href="#" class="btn">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</div>
</div>

<!-- END OF PROJECTS -->


</main>
<%- include("partials/footer"); %>